# 忽略各种备份文件
*.bak

# 忽略锁文件
*.lock

# 忽略direnv的配置
.envrc

# 忽略日志文件
/*-archive/logs/

# 忽略jar文件
/*-archive/.fabric/
/*-archive/libraries/
/*-archive/versions/

# 忽略服务端文件
/server-archive/*
/server-archive/usercache.json
/server-archive/ops.json
/server-archive/whitelist.json
/server-archive/banned-ips.json
/server-archive/banned-players.json

# 跟踪必要的服务端文件
!/server-archive/server.properties
!/server-archive/world/
!/server-archive/config/

# 忽略客户端文件
/client-archive/*
/client-archive/mods
/client-archive/saves
/client-archive/options.txt
/client-archive/resourcepacks
/client-archive/servers.dat
/client-archive/shaderpacks

